body {
    background: #E6EAEA;
}
.loginWrqpper {
    /*background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    min-height: 650px;*/
}
.loginWrqpper .container {
    /*margin: 10% auto 0px;*/
    padding-top: 6%;
}
.noPadding {
    padding: 0px;
}
.center {
    text-align: center;
}
.nav-header{
      background-color: rgb(255, 255, 255);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.msg_container {
    padding: 10px;
    overflow: hidden;
    display: flex;
}
.avatar {
    position: relative;
}
.base_sent {
    justify-content: flex-end;
    align-items: flex-end;
}
.logoutBtn:active {
    background-color: transparent;
}
.logoutBtn a, .logoutBtn a:hover {
    color: rgba(0,0,0,.5);
    text-decoration: none;
}

.base_receive > .avatar:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border: 5px solid #FFF;
    border-left-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
}
.base_sent > .avatar:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 5px solid white;
    border-right-color: transparent;
    border-top-color: transparent;
    box-shadow: 1px 1px 2px rgba(black, 0.2);
}
.messages {
    background: white;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    max-width: 100%;
}
.msg_sent {
    padding-bottom: 20px !important;
    margin-right: 0;
}
.messages > p {
    font-size: 13px;
    margin: 0 0 0.2rem 0;
}
.messages > time {
    font-size: 11px;
    color: #ccc;
}

ul.timeline {
    list-style-type: none;
    position: relative;    
    /*padding-left: 100px;*/
    padding-left: 0px;
}
ul.timeline:before {
    /*content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;*/
}
ul.timeline > li {
    position: relative;
    margin: 20px 0;
    padding-left: 20px;
    background: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 6px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
ul.timeline > li .trackingHours {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: -110px;
    top: 0px;
    width: 100px;
    height: 100px;
    z-index: 400;
    text-align: center
}
ul.timeline > li .taskHead {
    font-size: 25px;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
    padding-bottom: 2px;
}
ul.timeline > li .taskHead p {
    font-weight: normal;
    font-size: 15px;
    margin-bottom: 0px;
    line-height: 30px;
}
.card{ border: none;}
.card-body{    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);}
input[name="search"]{
    border: none;
    border-radius: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    width: calc(100% - 120px);
}
.addButton {     
    position: absolute;
    top: 0;
    right: 0;
}




/* Pre Loading */
.preLoader {
    width: 100%;
    position: fixed;
    overflow: hidden;
    height: 100%;
    z-index: 9;
    background: #fff;
}
.preLoaderHeader:empty {
    margin: auto;
    width: 95%;
    height: 100px; /* change height to see repeat-y behavior */        
    background-image:
        linear-gradient( 100deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 80% ),
        linear-gradient( lightgray 10px, transparent 0 ),
        linear-gradient( lightgray 10px, transparent 0 ),
        linear-gradient( lightgray 10px, transparent 0 ),
        linear-gradient( lightgray 10px, transparent 0 );

    background-repeat: no-repeat;

    background-size:
        50px 200px,
        50px 200px,
        50px 200px,
        50px 200px,
        50px 200px;
        
    background-position:
        0 10px, /* highlight */
        0px 40px,
        1070px 40px,
        1130px 40px,
        1190px 40px;
}

.preLoaderBody:empty {
    margin: auto;
    width: 80%;
    height: 400px; /* change height to see repeat-y behavior */        
    background-image:
        linear-gradient( 100deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 80% ),
        linear-gradient( lightgray 150px, transparent 0 ),
        linear-gradient( lightgray 150px, transparent 0 ),
        linear-gradient( lightgray 150px, transparent 0 );

    background-repeat: repeat-y;

    background-size:
        300px 200px, /* highlight */
        300px 200px,
        300px 200px,
        300px 200px;
        
    background-position:
        0 10px, /* highlight */
        20px 30px,
        340px 30px,
        660px 30px;
}

.big-message {
    display: block;
    margin: 75px auto;
    text-align: center;
    max-width: 600px;
    color: #6b808c;
}
.big-message h1 {
    font-size: 26px;
    margin-bottom: 24px;
}
big-message p {
    font-size: 18px;
    line-height: 22px;
}

.header-btn {
    transition: .1s ease;
    background: hsla(0,0%,100%,.3);
    border-radius: 3px;
    color: #fff;
    display: block;
    float: left;
    font-weight: 700;
    line-height: 32px;
    margin-right: 4px;
    min-width: 32px;
    padding: 0;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.header-btn.header-avatar {
    border-radius: 25em;
}
.member {
    background-color: #E6EAEA;
    border-radius: 25em;
    color: #212529;
    cursor: pointer;
    display: block;
    float: left;
    height: 32px;
    margin: 0px 0px 0px 0px;
    overflow: visible;
    position: relative;
    width: 32px;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 0;
}
.userLogout {
    margin-top: 5px;
}
.member-initials {
    display: block;
    font-size: 12px;
    font-weight: 700;
    height: 32px;
    left: 0;
    line-height: 32px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}

h1.loginLogo {
    font-family: "Helvetica Neue",Arial;
    font-size: 40px;
    margin: 20px auto;
    text-rendering: optimizeLegibility;
    font-weight: 900;
    color: rgba(93, 89, 90, 0.5);
    text-shadow: 1px 4px 6px #E6EAEA, 0 0 0 #727373, 1px 4px 6px #E6EAEA;
    white-space: nowrap;
    text-align: center;
    user-select: none;
}

.login-textbox{
    background: #fbfbfb;
}
.loginBox{
    
    width: 350px!important;
    margin: 0 auto;
    flex-grow: unset;
    flex-basis: auto;
}
.link{ float: left; margin-right: 20px;font-size: 14px;color: #ccc}
.pull-right{float: right}
.modal-body {
    outline: none;
}
.proDetailEditable {
    outline: none;
}
.proDetModal {
    max-width: 800px;
}
.proDetailDescription {
    outline: none;
    width: 100%;
    height: 200px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    padding: .375rem .75rem;
}
p.proTotalHours.card-text {
    position: absolute;
    right: 10px;
}
